//FONTS
$bodyFont:        'mont-light';
$bodyFontSize:    15px;
$bodyFontColor:   #4A4A4A;

//COLORS
$orange:          #F96332;
$blue:            #0096E6;
$green:           #7ED321;
$lightGray:       #EDEDED;
$black:           #4A4A4A;
$bodyBGColor:     #939391;
$errorRed:        #cf6564;

//WRAPPER STYLES
$wrapperWidth:    1800px;
$wrapperBGColor:  #FFFFFF;

//HEADER STYLES
$headerHeight:    56px;

//SLIDER
$sliderHeight: 750px;