@font-face {
	font-family: 'mont-semibold';
	src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
	src: url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-SemiBold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'mont-ultralight';
	src: url('../fonts/montserrat/Montserrat-UltraLight.eot');
	src: url('../fonts/montserrat/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-UltraLight.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-UltraLight.ttf')  format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'mont-hairline';
	src: url('../fonts/montserrat/Montserrat-Hairline.eot');
	src: url('../fonts/montserrat/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Hairline.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Hairline.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'mont-extrabold';
	src: url('../fonts/montserrat/Montserrat-ExtraBold.eot');
	src: url('../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-ExtraBold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'mont-black';
	src: url('../fonts/montserrat/Montserrat-Black.eot');
	src: url('../fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Black.ttf')  format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'mont';
	src: url('../fonts/montserrat/Montserrat-Regular.eot');
	src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mont-light';
	src: url('../fonts/montserrat/Montserrat-Light.eot');
	src: url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'mont-bold';
	src: url('../fonts/montserrat/Montserrat-Bold.eot');
	src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}